<% layout('/layouts/boilerplate')%>
<div class="row mt-3">
    <div class="col-8 offset-2">
   <h3>Edit List</h3>
    <form action="/listings/<%= listing.id %>?_method=PATCH" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">

        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" placeholder="Enter Title" name="title" value="<%=listing.title%>" class="form-control" required>
            <div class="valid-feedback">Title Looks Good!!</div>
        </div>
      
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="description" placeholder="Describe" class="form-control" required><%=listing.description%></textarea>
            <div class="invalid-feedback">Enter a short description</div>
        </div>
       
        <div class="mb-3">
            Original Listing Image <br>
            <img src="<%= originalImage %>" width="150" height="auto" style="border:1px solid #ccc;">
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="file" placeholder="Upload New Image" value="<%=listing.image%>" name="image" class="form-control">
        </div>
        
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input type="number" name="price" placeholder="Enter price" value="<%=listing.price%>" class="form-control" required>
                <div class="invalid-feedback">Enter a valid price</div>
            </div>

            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input type="text" name="country" placeholder="Enter country" value="<%=listing.country%>"class="form-control" required>
                <div class="invalid-feedback">Enter a valid country name</div>
            </div>
                
        </div>
       
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="location" placeholder="Enter location" value="<%=listing.location%>"class="form-control" required>
            <div class="invalid-feedback">Enter a valid location name</div>
        </div>
       
       
        <button class="btn btn-dark edit-btn mt-3">SUBMIT</button>
    </form>
</div>
</div>
